@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Arapey, cursive
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply flex min-h-screen flex-col;
  }
  
  main {
    @apply flex-1;
  }

  details > summary {
    list-style: none;
  }
  details > summary::-webkit-details-marker {
    display: none;
  }
  .darkmode{
    @apply bg-black text-white;
  }
 .headerbutton {
  @apply hover:text-gray-900 hover:text-sm;
  @apply hover:border-b-2 border-black duration-1000 ease-in-out transition-opacity
  
 }
  .button {
    @apply flex items-center justify-center rounded-sm border border-black border-x-0;
    @apply bg-white  text-black font-serif;
    @apply py-3 px-8 text-base font-medium ;
    @apply transition hover:opacity-90;
    @apply focus:outline-none focus:ring-2 focus:ring-black focus:ring-offset-1;
    @apply disabled:cursor-not-allowed disabled:opacity-90;
  }
  .title {
    @apply hover:text-gray-300 duration-1000 ease-in-out transition
  }
}
