---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout title="about us">
 <div class="bg-gray-50 py-10 p-2 my-4  md:max-w-7xl md:mx-auto">
  <div class="container mx-auto">
    <h1 class="text-4xl font-bold mb-6">Welcome to eGoldHQ!</h1>
    <p class="">For More Details</p>
    <div>
  <p class="my-4">     our Phone : <span class="text-gray-500">04004040404004004</span>
  </p>
  <p class="">     our Email : <span class="text-gray-400">usmail.developer@gmai.com</span>
  </p>
    </div>
</div>

</BaseLayout>