---
import AllCollections from "../components/AllCollections.astro";
import Hero from "../components/Hero.astro";
import  ByCollectionsC  from "../components/ByCollections.astro";
import Products from "../components/Products.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllCollections } from "../utils/Functions";
import { setCache } from "../utils/cache";
import { getCollec, getProducts } from "../utils/shopify";
import Serviceoffers from "../components/serviceoffers.astro";
import Social from "../components/Social.astro";
const headers = Astro.request.headers;
const ip = headers.get("x-vercel-forwarded-for") || Astro.clientAddress;
const c = await getCollec({buyerIP:ip})
const products = await getProducts({ buyerIP: ip });
const allCollections = getAllCollections(c)

setCache.short(Astro);
---

<BaseLayout title={''}>
<section class="w-full h-full mx-3  lg:max-w-7xl lg:mx-auto my-4 ">
  
  <div class="md:px-0 px-2">
    <Hero/>

  </div>
  <div class="my-4">
    <p class="text-5xl md:text-8xl  border-b-2 border-gray-200   py-3 title">Collections</p>
    <AllCollections collections={allCollections}  />
  </div>
  <div class="w-full" >
    <Products products={products} />
  <div class="">
    <p class="text-5xl md:text-8xl  title py-7">By Category </p>

    {
      allCollections.map((c :any)=> {
        const {title,total} = c
        if(total === 0) return 
        return <ByCollectionsC products={products} collection={title}/>
      })
    }
  </div>
  <div>
    <Serviceoffers />
  </div>
   <div class="p-5 md:p-2">
     <Social />
   </div>
</section>
</BaseLayout>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script is:inline>new Swiper('.mySwiper',{
  autoplay: {
    slidesPerView: 1,
    disableOnInteraction: false,

  },
  breakpoints: {
    640: {
      slidesPerView: 1,
      spaceBetween: 20,
    },
    768: {
      slidesPerView: 2,
      spaceBetween: 40,
    },
    1024: {
      slidesPerView: 3,
      spaceBetween: 10,
    },
  },
})</script>
