---
import BaseLayout from "../layouts/BaseLayout.astro";
import { setCache } from "../utils/cache";



setCache.short(Astro);
---

<BaseLayout title={''}>

<div class="">
  leader</div>   
</BaseLayout>
