---
const message = "hi ! Morocco E-Gold ";
---

<div
  class="flex items-center justify-center bg-gradient-to-l
  md:ml-1 
  from-white to-[#FFD700]  px-4 py-2 
  text-sm font-extralight  sm:px-6 lg:px-8 text-black
  rounded-sm
  "
>
  {message}
</div>
