---
const message = "Morocco E-Gold ";
---

<div
  class="flex items-center justify-center bg-gradient-to-t
  from-white to-gray-300  px-4 py-2 
  text-sm font-bold  sm:px-6 lg:px-8 text-black"
>
  {message}
</div>
