---
const message = "hi ! Morocco E-Gold ";
---

<div
  class="flex items-center justify-center bg-gradient-to-t
  from-white to-gray-50  px-4 py-2 
  text-sm font-extralight  sm:px-6 lg:px-8 text-black animate-bounce"
>
  {message}
</div>
