---
export interface Porps  {
 c :{title:string,total:number}
}
const {c} = Astro.props as Porps
const {total,title}=c
---
<div class="border-2 border-black p-2 md:p-5 border-t-0 md:border-l-0 ">
 <div class="py-4 text-3xl md:text-6xl font-extralight ">{title}</div>
 <div class="flex justify-end items-center mt-5">
  <span class="text-3xl md:text-4xl bg-black rounded-full text-white px-3">{total}</span>
 </div>
</div>