---
import TextTransition, { presets } from 'react-text-transition';

const TEXTS = ['Forest', 'Building', 'Tree', 'Color'];
let index = 0;

setTimeout(()=> {
 index =+ 1
},200)
---

<section class="  bg-[url('/hero.png')]
w-full h-[60vh] 
md:h-[120vh] bg-cover bg-center p-10  rounded-xl border border-black opacity-95">
<div class="flex justify-start items-center w-full h-full opacity-100 animate-pulse">
 <div class=""> 
  <p class="text-4xl lg:text-7xl">E-<span class="text-yellow-500">Gold</span> <span>HQ</span></p>
  <p class="text-xl py-4 ">
   Welcome to our exquisite jewelry store in Morocco  </p>
   <p class="text-sm py-4">Always With Yoou</p>
  <div class="py-6 animate-bounce duration-0 transition-all">
   <button class="border border-black px-6 bg-black text-white relative">Shop now !! </button>
  </div>
 </div>
</div>
</section>