---
import type { z } from "zod";
import type { ProductResult } from "../utils/schemas";

import ShopifyImage from "./ShopifyImage.svelte";
import Money from "./Money.svelte";

export interface Props {
  product: z.infer<typeof ProductResult>;
}
const { product } = Astro.props as Props;
---
<a href={`/products/${product?.title}`} class="group block overflow-hidden shadow-sm my-4 shadow-black p-2 w-[500px]">
  <div class="relative h-[350px] sm:h-[450px]">
    <ShopifyImage
    classList=""
    loading="eager"
    image={product?.featuredImage }
    sizes={`
    (min-width: 1540px) 348px,
    (min-width: 1280px) 284px,
    (min-width: 1040px) 309px,
    (min-width: 780px) 348px,
    (min-width: 640px) 284px,
    calc(100vw - 48px)
  `}
  />

    
  </div>

  <div class="relative bg-white pt-3">
    <h3
      class="text-sm text-gray-700 group-hover:underline group-hover:underline-offset-4"
    >
{
  product?.title
}    </h3>

    <div class="mt-1.5 flex items-center justify-between text-gray-900">
      <p class="tracking-wide">

        <Money price={product?.variants.nodes[0].price as any} />
      </p>

      <p class="text-xs uppercase tracking-wide">{}</p>
    </div>
  </div>
</a>


