---
import { z } from "zod";
import { ProductResult } from "../utils/schemas";
import ProductCard from "./ProductCard.astro";
import Collect from "./collect.astro";

const ProductsResult = z.array(ProductResult);
export interface Props {
  products: z.infer<typeof ProductsResult>;
}
const { products } = Astro.props as Props;

---



<div class="mySwiper overflow-hidden">
  <div class="swiper-wrapper w-full h-full "> 
    {
      products.map((item:any)=> (
      <div class="swiper-slide p-4 flex justify-center items-center w-full absolute"><ProductCard product={item} /></div>
      ))
   }
  </div>
</div>

