---
import {Icon} from "astro-icon"
---
<p class="text-5xl md:text-8xl  title py-7">Our Services </p>
<section class="p-2 md:p-4 select-none border-2  border-t-2  mt-3 border-black">

 <div class="grid grid-cols-1 md:grid-cols-3 w-full gap-y-7">
  
  <div class="text-gray-100 w-full">
   <div class="flex justify-center items-center">
    <div class="w-20 h-20">
     <Icon  name="fast"  />
 
    </div>
   </div>
   <p class=" flex justify-center items-center text-black ">
        <span class="  font-extralight leading-6 text-gray-600
         w-36 tracking-wides text-center text-sm line-clamp-4">Speedy Service, On-Time Delivery!</span>
   </p>
 </div>
 
 
 <div class="text-gray-700 w-full">
  <div class="flex justify-center items-center">
   <div class="w-20 h-20">
    <Icon  name="ring" pack="mdi"  />
 
   </div>
  </div>
  <p class=" flex justify-center items-center text-black ">
       <span class=" text-gray-600 font-extralight leading-6
        w-36 tracking-wides text-center text-sm line-clamp-4 md:pt-2">100% correct ring size</span>
  </p>
 </div>
 
 <div class="text-gray-100 w-full">
  <div class="flex justify-center items-center">
   <div class="w-20 h-20">
    <Icon  name="cash"  />
 
   </div>
  </div>
  <p class=" flex justify-center items-center text-black ">
       <span class=" text-gray-600 md:pt-2 font-extralight leading-6
        w-36 tracking-wides text-center text-sm line-clamp-4">Cash on Delivery</span>
  </p>
 </div>
 
 
 
     </div>
</section>